<section>
  <h2>Binding</h2>
  <div class="content-wrap">
    <div class="car">
      <p><small>name:</small> {{ car.carName }}</p>
      <p><small>year:</small> {{ car.year }}</p>
    </div>
    <div class="input-fields">
      <label>
        <span>Car</span>
        <input type="text" [(ngModel)]="car.carName" maxlength="50" />
      </label>
      <label>
        <span>Year</span>
        <input type="number" [(ngModel)]="car.year" />
      </label>
    </div>
  </div>
</section>
<section class="form-section">
  <form [formGroup]="loginForm">
    <fieldset>
      <legend>Login Form</legend>

      <div class="input-field">
        <label for="email">Email</label>
        <input id="email" type="text" [formControlName]="'email'" />
        <!-- <pre>
          {{ loginForm.get("email")?.errors | json }}
        </pre> -->
      </div>

      <div class="input-field">
        <label for="password">Password</label>
        <input id="password" type="password" [formControlName]="'password'" />
        <!-- <pre>
          {{ loginForm.get("password")?.errors | json }}
        </pre> -->
      </div>

      <div
        class="input-field contact-field"
        [formArrayName]="'contacts'"
        *ngFor="let contact of getContacts.controls; index as i"
      >
        <label for="phone{{ i + 1 }}"> {{ i + 1 }}.Enter phone number </label>
        <input id="phone{{ i + 1 }}" type="text" [formControlName]="i" />
      </div>
      <div class="set-btns">
        <button class="btn" (click)="addPhone()">Add phone</button>
        <button class="btn delete" (click)="clearPhones()">Clear phones</button>
      </div>

      <details formGroupName="name">
        <summary>Addition Info</summary>
        <div class="input-field">
          <label for="name">Name</label>
          <input id="name" type="text" formControlName="firstName" />
        </div>

        <div class="input-field">
          <label for="surname">Surname</label>
          <input id="surname" type="text" formControlName="lastName" />
        </div>
      </details>

      <div>
        <label>
          <input type="checkbox" formControlName="agree" />
          I Agree to Privacy Policy
        </label>
        <!-- <pre>
          {{ loginForm.get("agree")?.errors | json }}
        </pre> -->
      </div>

      <input
        class="btn"
        type="submit"
        value="Submit"
        [disabled]="loginForm.invalid"
        (click)="onSubmit()"
      />
    </fieldset>
  </form>
  <div class="json-data">
    <p>{{ loginForm.value | json }}</p>
  </div>
</section>
